.settingsContainer {
	width: 100%;
}

.settingsSave, .settingsRestore {
	width: 50%;
	display:inline-block; margin:2px 0px 2px 0px; padding:8px; box-sizing: border-box;
	cursor: pointer; background-color:#4f4f4f; color:#afafaf; 
	text-align:center; font-weight:bold; font-size: 12px;
}

.settingsInputContainer { 
	display: block;
	box-sizing: border-box;
	padding: 4px;
	width: 100%; 
}
.settingsInputPrompt { 
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	font-size: 13px;
	color: #dfdfdf; 
	padding-right:8px;
	text-align:right;
}
.settingsInput { 
	display: inline-block;
	box-sizing: border-box;
	width: 50%; 
	font-size: 13px;
	padding: 4px;
	border-radius: 4px;
}
